<div class="flashcard-card" tabindex="0" role="button" (click)="onSelect()">
  <h4 class="flashcard-card__title" [attr.title]="flashcard.frontPart">
    {{ flashcard.frontPart.length > 35 ? ((flashcard.frontPart | slice: 0:32) + '...') : flashcard.frontPart }}
  </h4>

  <p class="flashcard-card__meta">
    <strong>Matéria: </strong> <span class="flashcard-card__subject" [attr.title]="subjectName">{{ displaySubjectName + "\n" }}</span>
    <strong>Última revisão: </strong> {{ flashcard.updatedAt | date: 'dd/MM/yyyy - HH:mm' + "\n" }}
    <strong>Nível: </strong> {{ levelLabel(flashcard.level) }}
  </p>
</div>
