<div class="modal-header">
  <h5 class="modal-title">Recuperar senha</h5>

  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <div *ngIf="validationMessage" class="alert alert-warning" role="alert">
    {{ validationMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row g-4">
      <div class="col-12">
        <app-input-group
          label="Seu email"
          icon="bi bi-envelope"
          placeholder="voce@exemplo.com"
          type="email"
          [invalid]="!!(form.get('email')?.touched && form.get('email')?.invalid)"
          formControlName="email"
        ></app-input-group>

        <small
          class="text-danger"
          *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')"
        >
          O email é obrigatório
        </small>
        <small
          class="text-danger"
          *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')"
        >
          O email informado é inválido
        </small>
      </div>

      <div class="col-12 modal-actions" appEqualizeModalButtons>
        <app-submit-button
          type="button"
          label="Cancelar"
          icon=""
          [disabled]="isSubmitting"
          (click)="close()"
        ></app-submit-button>

        <app-submit-button
          type="submit"
          label="Enviar"
          icon=""
          [disabled]="isSubmitting"
        ></app-submit-button>
      </div>
    </div>
  </form>
</div>
