<article class="activity-notification">
  <div class="activity-notification__date" aria-hidden="true">
    <div class="activity-notification__day">{{ dayLabel }}</div>
    <div class="activity-notification__month">{{ monthLabel }}</div>
  </div>

  <div class="activity-notification__content">
    <h5 class="activity-notification__title">{{ name }}</h5>

    <div *ngIf="subjectName" class="activity-notification__meta">
      <i class="bi bi-book" aria-hidden="true"></i>
      <span>{{ subjectName }}</span>
    </div>

    <p *ngIf="description" class="activity-notification__description">
      {{ description }}
    </p>
  </div>
</article>
