<app-header></app-header>

<main>
  <section id="home" class="landing-section"></section>
  <section id="sobre" class="landing-section">
    <div class="container">
      <div class="row gy-5 align-items-center">
        <div class="col-xl-6">
          <div class="about-images-wrapper">
            <div class="image-main">
              <img src="assets/images/study-05.jpeg" alt="Imagem principal" class="img-fluid">
            </div>
            <div class="image-offset">
              <img src="assets/images/study-06.jpeg" alt="Imagem secundária" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <h2 class="mb-3">ACADEMO</h2>
          <p class="mb-0">
            Sistema de Gerenciamento Acadêmico Pessoal para organizar sua rotina de estudos e acompanhar sua evolução.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="preco" class="landing-section"></section>
  <section id="contato" class="landing-section"></section>
</main>
