.app-home {
  padding: 32px;
}

.app-home__grid {
  display: grid;
  grid-template-columns: 65fr 35fr;
  gap: 24px;
  align-items: stretch;
}

.app-home__groups-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: stretch;

  grid-auto-rows: 170px;

  max-height: calc((170px * 4) + (16px * 3));
  overflow-y: auto;
}

@media (max-width: 768px) {
  .app-home {
    padding: 20px;
  }

  .app-home__grid {
    grid-template-columns: 1fr;
  }
}
