<div class="study-config-modal">
  <div class="study-config-modal__header">
    <h4 class="study-config-modal__title">Escolha como deseja estudar</h4>
  </div>

  <div class="study-config-modal__body">
    <button
      *ngFor="let option of levelOptions"
      type="button"
      class="study-config-modal__option"
      [class.study-config-modal__option--active]="selectedLevel === option.value"
      [attr.data-style]="option.style"
      (click)="selectLevel(option.value)"
    >
      {{ option.label }}
    </button>
  </div>

  <div class="study-config-modal__actions mt-4" appEqualizeModalButtons>
    <app-submit-button type="button" label="Cancelar" icon="" (click)="cancel()"></app-submit-button>

    <app-submit-button type="button" label="Iniciar Estudo" icon="" (click)="start()"></app-submit-button>
  </div>
</div>
